html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e8e8ef;

}

.header {
    position: relative;
    width: 100%;
    height: 200px;
}

.header__img {
    width: 100%;
    height: 100%;
    background-image: url('../img/avengers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-bottom: 5px solid #3b0303;
}

.heroes {
    display: flex;
}

.title {
    color: #fff;
    text-align: center;
}

.filter {
    flex: 1 1 320px;
    padding: 10px;
    height: 500px;
    background-color: #ccc;
    border-right: 20px solid #3b0303;
    /*transform: translateX(-280px);*/
    transition: all 0.3s ease-in-out;
}

.filter.js-active {
    transform: translateX(0);
}

.filter__row {
    margin-bottom: 10px;
}

.actor-checkbox-filter,
.gender-filter,
.status-filter {
    display: flex;
}

.name-filter,
.species-filter,
.movie-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.clear-row-filter {
    margin: 0 0 0 15px;
    width: 10px;
    height: 10px;
    padding: 0;
    background-image: url('../img/delete.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.clear-row-filter:hover {
    background-image: url('../img/delete-filled.png');
}

label {
    display: block;
    width: 100%;
}

select {
    height: 20px;
}

.cards {
    flex: 1 1 calc(100% - 300px);
    padding: 0 50px;
}
